@import url(postition.css);




h1 {
font-weight: lighter;
color: royalblue;
font-style: italic;
}

h2 {
font-weight: bold;
color: darkred ;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: lighter;
}

p {
font-weight: bolder;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bottom {
background-color: rgb(47, 117, 154);
margin-top: 100px;
margin-bottom: 100px;
margin-left: 400px;
margin-right: 400px;
padding: 15px;
border: 15px;
border-style: double;
border-color: rgb(1, 41, 143);
}

.top {
color:whitesmoke;
gap: 50px;
}

body {
background-color: rgb(33, 33, 33);
}

.image {
margin-top: 10px;
}