@import url(postition.css);




h1 {
font-weight: lighter;
color: royalblue;
font-style: italic;
}

h2 {
font-weight: bold;
color: darkred ;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: lighter;
}

p {
font-weight: bolder;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

